<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="everypony.tabun.auth"
          android:versionCode="1"
          android:versionName="Doctor Whooves 0.0.1">

    <uses-sdk android:minSdkVersion="5"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application android:label="@string/App.Label"
                 android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            >

        <activity android:name=".TabunAccountSelector"
                />

        <activity android:name=".TabunAuthActivity"
                  android:label="@string/App.Account.Label"
                />

        <activity android:name=".TabunTokenGetterActivity"
                  android:exported="true"
                >

            <intent-filter>
                <action android:name="everypony.tabun.auth.TOKEN_REQUEST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        </activity>

        <service
                android:permission="android.permission.AUTHENTICATE_ACCOUNTS"
                android:name=".TabunAuthService"
                android:label="@string/App.Account.Label"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                >

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                    android:label="@string/App.Account.Label"
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/tabun"
                    />
        </service>

    </application>

</manifest>
